<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @ticker.ticker %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticker.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ticker.url %>
</p>
<p>
  <strong>Price (formatted):</strong>
  <%= @ticker.formatted_price %>
</p>
<p>
  <strong>Price:</strong>
  <%= @ticker.price %>
</p>
<p>
  <strong>Precision:</strong>
  <%= @ticker.precision %>
</p>

<%= link_to 'Edit', edit_ticker_path(@ticker) %> |
<%= link_to 'Back', tickers_path %>
